@model Sipaz.Core.Entities.PropertyRentModel

@{
    Layout = null;
}

<form id="frm_basic_details">
    <div class="row">
     

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

           
                    <input asp-for="PropertyId" type="hidden" class="form-control" value="0" />
                  
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Locality" class="bmd-label-floating"></label>
                    <input asp-for="Locality" class="form-control" />
                    <span asp-validation-for="Locality" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                   
                    <select asp-for="PropertyTypeId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.propertyType,"PropertyTypeId", "PropertyType"))">
                    </select>
                    <span asp-validation-for="PropertyTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Area" class="bmd-label-floating"></label>
                    <input asp-for="Area" class="form-control" />
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                   
                    <select asp-for="AU"
                            class="form-control"
                            asp-items="@(new SelectList(Model.AuList,"AU_ID", "AU"))">
                    </select>
                    <span asp-validation-for="AU" class="text-danger"></span>
                </div>
            </div>
          
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="AvailableDate" class="bmd-label-floating"></label>
                    <input asp-for="AvailableDate" class="form-control" />
                    <span asp-validation-for="AvailableDate" class="text-danger"></span>
                </div>
            </div>
 
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="BathroomNum" class="bmd-label-floating"></label>
                    <input asp-for="BathroomNum" class="form-control" />
                    <span asp-validation-for="BathroomNum" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="TotalFloor" class="bmd-label-floating"></label>
                    <input asp-for="TotalFloor" class="form-control" />
                    <span asp-validation-for="TotalFloor" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="FloorNum" class="bmd-label-floating"></label>
                    <input asp-for="FloorNum" class="form-control" />
                    <span asp-validation-for="FloorNum" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="FurnishedType" class="bmd-label-floating"></label>
                    <input asp-for="FurnishedType" class="form-control" />
                    <span asp-validation-for="FurnishedType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Address" class="bmd-label-floating"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="ProjectSociety" class="bmd-label-floating"></label>
                    <input asp-for="ProjectSociety" class="form-control" />
                    <span asp-validation-for="ProjectSociety" class="text-danger"></span>
                </div>
            </div>
           
           
            <div class="col-md-5">
                <div class="form-group">
                  
                    <select asp-for="CityId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.Cities,"Id", "Name"))">
                    </select>
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Description" class="bmd-label-floating"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Mobile" class="bmd-label-floating"></label>
                    <input asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="PropertyName" class="bmd-label-floating"></label>
                    <input asp-for="PropertyName" class="form-control" />
                    <span asp-validation-for="PropertyName" class="text-danger"></span>
                </div>
            </div>
        
           
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="BedRooms" class="bmd-label-floating"></label>
                    <input asp-for="BedRooms" class="form-control" />
                    <span asp-validation-for="BedRooms" class="text-danger"></span>
                </div>
            </div>
          
            <div class="col-md-5">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>

        </div>
    
</form>

<script>
    $(document).ready(function () {
        BasicInt();
    });
</script>

