@model Sipaz.Core.PropertyEntities.BasicDetails

<div class="col-md-5">
    <div class="form-group">
        <label asp-for="ExpectedPrice" class="bmd-label-floating"></label>
        <input asp-for="ExpectedPrice" class="form-control" />
        <span asp-validation-for="ExpectedPrice" class="text-danger"></span>
    </div>
</div>
<div class="col-md-5">
    <div class="form-group">
        <label asp-for="SecurityAmount" class="bmd-label-floating"></label>
        <input asp-for="SecurityAmount" class="form-control" />
        <span asp-validation-for="SecurityAmount" class="text-danger"></span>
    </div>
</div>
<div class="col-md-5">
    <div class="form-group">
        <label asp-for="MaintenanceCharges" class="bmd-label-floating"></label>
        <input asp-for="MaintenanceCharges" class="form-control" />
        <span asp-validation-for="MaintenanceCharges" class="text-danger"></span>
    </div>
</div>
