@model Sipaz.Core.PropertyEntities.BasicDetails

<div class="col-md-5">
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="BikeParking" /> @Html.DisplayNameFor(model => model.BikeParking)
        </label>
    </div>
</div>
<div class="col-md-5">
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Lift" /> @Html.DisplayNameFor(model => model.Lift)
        </label>
    </div>
</div>
<div class="col-md-5">
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Water" /> @Html.DisplayNameFor(model => model.Water)
        </label>
    </div>
</div>