@model Sipaz.Core.Entities.UserModel

@{
    Layout = null;
}
<div class="modal fade login" id="loginModal">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login with</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content">
                        <div class="social">
                            <a class="circle github" href="#">
                                <i class="fa fa-github fa-fw"></i>
                            </a>
                            <a id="google_login" class="circle google" href="#" onclick="onSignIn();">
                                <i class="fa fa-google-plus fa-fw"></i>
                            </a>
                            <a id="facebook_login" class="circle facebook" href="#">
                                <i class="fa fa-facebook fa-fw"></i>
                            </a>
                        </div>
                        <div class="division">
                            <div class="line l"></div>
                            <span>or</span>
                            <div class="line r"></div>
                        </div>
                        <div class="error"></div>
                        <div class="form loginBox">
                            <form id="frm_login" accept-charset="UTF-8">
                                <input  asp-for="Email" class="form-control" type="text" placeholder="Email">
                                <input asp-for="Password" class="form-control" type="password" placeholder="Password" >
                                <input id="btn_login" class="btn btn-default btn-login" type="submit" value="Login" >
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content registerBox" style="display:none;">
                        <div class="form">
                            <form id="frm_register" html="{:multipart=>true}" data-remote="true" action="" accept-charset="UTF-8">
                                <input asp-for="Name" class="form-control" type="text" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <input asp-for="Mobile" class="form-control" type="text" placeholder="Mobile">
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                                <input asp-for="Password" class="form-control" type="password" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Repeat Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <input id="btn_register" class="btn btn-default btn-register" type="submit" value="Create account" name="commit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                    <span>
                        Looking to
                        <a href="javascript: showRegisterForm();">create an account</a>
                        ?
                    </span>
                </div>
                <div class="forgot register-footer" style="display:none">
                    <span>Already have an account?</span>
                    <a href="javascript: showLoginForm();">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

