
@{
    ViewData["Title"] = "Map";
    Layout = null;
}

<h1>Map</h1>

<html>
<body>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <div class="example-container">
        <div class="row">
            <section class="col col-2 header">Location</section>
            <section class="col col-10">
                <div class="row">
                    <section class="col col-6">
                        <div id="MapLocation" style="height: 350px"></div>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-3">
                        <label class="input">
                            <input id="Latitude" placeholder="Latitude" name="Location.Latitude" />

                        </label>
                    </section>
                    <section class="col col-3">
                        <label class="input">
                            <input id="Longitude" placeholder="Longitude" name="Location.Longitude" />

                        </label>
                    </section>
                </div>
            </section>
        </div>
    </div>

    <script>
            $(function () {
                // use below if you want to specify the path for leaflet's images


                var curLocation = [0, 0];
                // use below if you have a model


                if (curLocation[0] == 0 && curLocation[1] == 0) {
                    curLocation = [12.723237726099487, 77.27439880371095];
                }

                var map = L.map('MapLocation').setView(curLocation, 10);

                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                map.attributionControl.setPrefix(false);

                var marker = new L.marker(curLocation, {
                    draggable: 'true'
                });

                marker.on('dragend', function (event) {
                    var position = marker.getLatLng();
                    marker.setLatLng(position, {
                        draggable: 'true'
                    }).bindPopup(position).update();
                    $("#Latitude").val(position.lat);
                    $("#Longitude").val(position.lng).keyup();
                });

                $("#Latitude, #Longitude").change(function () {
                    var position = [parseInt($("#Latitude").val()), parseInt($("#Longitude").val())];
                    marker.setLatLng(position, {
                        draggable: 'true'
                    }).bindPopup(position).update();
                    map.panTo(position);
                });

                map.addLayer(marker);
            })
    </script>
</body>
</html>


